<header>
  <h1>Your Store</h1>
</header>
<%= link_to 'Current Products', user_product_path %>
<%= link_to 'Add a New Product', new_product_path %>

<body>

  <h3>Orders</h3>
  	<% @orders.each do |order| %>
  		<%= order %>
  	<% end %>
  <h3>Revenue</h3>
  <!-- Filter buttons to filter by status -->

</body>