<header>
  <h1>Your Store</h1>
</header>
<%= link_to 'Your Products', user_products_path %>
<body>

  <h3>Orders</h3>
  	<% @orders.each do |order| %>
  		<%= order %>
  	<% end %>
  <h3>Revenue</h3>
  <!-- Filter buttons to filter by status -->

</body>