* {
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 1px;
	font-size: 20px;
}


div.top-header {
	float: right;
	display: inline;
	padding-right: 5%;
	font-weight: bolder;
	font-size: 25px;
}


li.logged-in {
	padding-top: 10px;
}

.sidebar {
	border-right: solid 1px;
	margin: 2% 5% 2% 2%;
}

header {
	height: 100px;
	width: 100%;
	border-bottom: solid 1px;
}

div.container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.product {
  border: 2px black solid;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  box-shadow: 5px 5px 2px rgb(59, 59, 58);
  width: 25%;
	background-color: grey;
}

.top-header img {
	height: 80px;
	text-align: left;
}

body {
	margin-left: 10%;
	margin-right: 10%:
}

h2.home-header {
	text-align: left;
	display: inline-block;
}

div.home-page {
	width: 25%;
	display: inline-block;
}

ul.nav-top li {
	display: inline;
	padding-right: 30px;
}

a {
	text-decoration: none;
}

.product img {
	max-width: 80%;
	margin-left: 2%;
	border: 5px solid navy;
}

.favoritepic img {
	width: 80%;
}

div.cart {
	background-color:gray;
	width: 80%;
	margin: 10px 10px;
}

div.wholecart {
	width: 80%;
	margin-left: 10%;
}

div.orderitem {
	border: 2px solid black;
	margin-top: 5px;
}

.orderitem img {
	height: 200px;
}

img {

}
