
* {
	box-sizing: border-box;
	font-family: 'Lora', serif;
	letter-spacing: 1px;
	font-size: 20px;
	margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}

.footer, .push {
	height: 3em;
	clear: both;
}

footer {
	text-align: right;
	padding-right: 5%;
	color: #003399;
}

.footer-paws {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 2%;
	height: 30px;
	width: 30px;
}

h1{
	text-align: center;
}

h2.cart {
	text-align: center;
	margin-left: 30%;
	font-weight: bolder;
	color: #003399;
}

h2.product-name {
	margin-left: 5%;
}

h4 {
	text-align: center;
}

.view-link {
	text-decoration: none;
	float: right;
	padding-right: 10%;
	font-size: 25px;
}

.store-links {
	text-decoration: none;
	float: right;
	padding-right: 20%;
	font-size: 25px;
}

.front-description {
	text-align: center;
}

div.header {
	float: right;
	display: inline;
	padding-right: 8%;
	font-weight: bolder;
	font-size: 25px;
}


li.logged-in {
	padding-top: 10px;
}

.btn-success {
	margin-left: 34%;
}
.sidebar {
	margin: 2% 5% 2% 2%;
}

.order-quantity {
	color:  #b30000;
}

header {
	height: 100px;
	width: 100%;
	padding: 1% 2% 0 2%;
}

div.product {
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  width: 25%;
}

.top-header img {
	height: 80px;
	text-align: left;
}

.logo {
	padding-left: 2%;
}

body {
	margin-left: 10%;
	margin-right: 10%;
}

h2.home-header {
	text-align: left;
	display: inline-block;
	padding-bottom: 3%;
}

div.all-pages {
	width: 25%;
	display: inline-block;
}

div.all-products {
	margin: 3%;
	width: 25%;
	display: inline-block;
}

ul.nav-top li {
	display: inline;
	padding-right: 30px;
}

a {
	text-decoration: none;
}

.product img {
	max-width: 300px;
	margin-left: 2%;
}

.rating-description {
	float: right;
	margin-top: 2%;
	margin-right: 30%;
}

.description {
	color: #003399;
}

.favoritepic img {
	padding-top: 5%;
	width: 80%;
	display: block;
	margin: auto;
}

div.cart {
	width: 80%;
	margin: 10px 10px;
}

div.wholecart {
	width: 80%;
	margin-left: 10%;
}

div.orderitem {
	margin-top: 5%;
	margin-left: 25%;
}

.orderitem img {
	height: 200px;
}

.order-info {
	float:right;
	margin-right: 10%;
}


.retired-empty {
	text-align: center;
	color: #b30000;
	font-weight: bold;
}

span.review-description {
	color: blue;
}

label.required:after {
    content: " *";
    color: red;
}

div.flash {
	background-color: rgba(159, 47, 247, .7);
	color: white;
	text-align: center;
	width: 80%;
	border-radius: 20px;
	margin-left: 10%;
}

div.review {
	margin-top: 10%;
	margin-left: 10%;
}

.checkout {
	text-align: center;
	color: #003399;
}

div.deets {
	text-align: center;
	background-color: rgba(93, 130, 201, .3);
	border-radius: 10px;
	display: block;
	margin: auto;
	width: 50%;
}

.purple {
	color: purple;
}

div.order {
	margin-left: 5%;
	margin-right: 5%;
}
