* {
	font-family: 'Architects Daughter', cursive;
	letter-spacing: 1px;
	font-size: 20px;
}

.top-header {
	float: right;
	display: inline;
	padding-right: 5%;
	font-weight: bolder;
	font-size: 25px;
}

ul.nav-side li {
	display: block;
	float: left;
}

/*.home-page {
	float: right;
	margin-top: 10%;
	margin-right: 40%;
	display: inline;
}*/

h2.home-header {
	text-align: left;
}

ul.nav-top li {
	display: inline;
	padding-right: 30px;
}

a {
	text-decoration: none;
}



